* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

body {
  background-color: #f3f5fc;
}

.container-grid {
  max-width: 1600px;
  margin: 1rem auto;
  display: grid;
  grid-template-columns: auto 2fr 1fr;
  gap: 5rem 1rem;
  padding: 0 1rem;
}

.logo {
  width: fit-content;
  margin-block: 1.5rem;
  height: fit-content;
  padding: 0 2rem;
}

form {
  grid-row: 2;
  grid-column: 2;
  display: grid;
  gap: 1rem;
}

textarea,
textarea::placeholder {
  color: #0a3871;
}

textarea {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  line-height: 1.5;
  height: 55vh;
  outline: none;
  resize: none;
}
.form-info {
  color: #495057;
  font-size: 0.75rem;
}
.form-buttons {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
}
.form-buttons button,
.copy-btn {
  width: 50%;
  border: 1px solid #0a3871;
  padding-block: 1.2rem;
  border-radius: 20px;
  text-transform: capitalize;
  color: #0a3871;
  cursor: pointer;
}
.form-buttons button:first-child {
  background: #0a3871;
  color: #fff;
  border: none;
}

.container-phrase {
  background: #fff;
  box-shadow: 0 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 30px;
  grid-column: 3;
  grid-row: 1 / span 2;
  display: grid;
  justify-content: center;
  align-items: center;
}

.container-phrase.activate {
  grid-template-columns: 1fr;
  grid-auto-rows: max-content;
  gap: 0.7rem;
  padding: 2rem 1rem 1rem 2rem;
  justify-content: start;
  align-items: flex-start;
}

.phrase_empty {
  text-align: center;
}
.phrase_empty h1 {
  width: 20ch;
  font-size: 1.5rem;
  margin: 1rem auto;
}

.phrase_empty p {
  width: 25ch;
  margin-inline: auto;
}
.img-phrase {
  margin: 0 auto;
}

.item {
  display: grid;
  grid-template-columns: 1fr auto;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  padding: 0.3rem;
  border-radius: 10px;
}

.item:hover {
  background: #f9f9f9;
}
.item::after {
  content: "";
  display: block;
  height: 29px;
  width: 29px;
  background: url("../img/copy.png");
}

.item.copied::after {
  content: "✔";
  background: transparent;
  color: #0a3871;
}

@media (max-width: 900px) {
  .container-grid {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .logo {
    margin: 1rem 0;
    align-self: flex-start;
    padding: 0;
  }

  .img-phrase {
    display: none;
  }
  .phrase_empty h1 {
    width: fit-content;
    margin-block: 1.7rem;
  }

  .phrase_empty p {
    width: fit-content;
    margin-block: 1.7rem;
  }
}

@media (max-width: 500px) {
  .form-buttons {
    flex-direction: column;
  }
  .form-buttons button {
    width: 100%;
  }
  .phrase_empty h1 {
    width: 20ch;
  }
  .phrase_empty p {
    width: 25ch;
  }
  .container-phrase {
    margin-bottom: 1rem;
  }
}
