$color-darker-blue: #0a3871;
$color-lighter-blue: #e9ecf8;
$bg-body: #e9ecf8;
$bg-button-encypt: #0a3871;
$ff-color-primay: #0a3871;
$bg-item-hover: #f9f9f9;

// media query
$table: "max-width: 900px";
$mobile: "max-width: 500px";
